numpy
pandas
matplotlib
seaborn
scikit-learn
opencv-python
Pillow
torch
torchvision
jupyter

# YOLOv8 specific dependencies
ultralytics

# Utilities
tqdm
PyYAML

# For handling video processing
moviepy

# For downloading datasets
gdown
